.titulo1 {
 border: 2px solid black;
 color: rgb(255, 255, 255);
 text-align: center
}
	
.titulo2 {
	border: 2px solid black;
	color: rgb(0, 0, 0);
	text-align: center
   }



UL{
font-size: 25.7px;	
	
}	

.diseño1{
  margin: 0;
  padding: 0;
  background: url(imagenes/bloc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}	

.diseño2{
	margin: 0;
	padding: 0;
	background-color: #645454;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
  }	

  .diseño3{
	margin: 0;
	padding: 0;
	background-color: white;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
  }	
  	

.diseño4{
  margin: 0;
  padding: 0;
  background-color: #52ffff;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}	

.menu{
	list-style: none;
	padding: 0;
	background: #52ffff;
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	padding: 15px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ffffff;
}

p1{
	font-size: 24px;	
	color: white;
	background-position: center;
	}

	p2{
		font-size: 24px;	
		color: rgb(0, 0, 0);
		background-position: center;
		}

	.orden{
		width: 95%;
		left: 2.5%;
		position: relative;
	}
	

